<div class="search-box">
<%= form_tag search_opportunities_path, method: :get, remote: true do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by title or location" %>
  <%= submit_tag "Search" %>
<% end %>
</div>
<div id="search-results">
  <%= render partial: 'search_results' %>
</div>
