
<div class="home-container">
<div class="homepage-header">
  <h1>Elevate Impact, <br>Inspire Change</h1>
</div>

<div class="homepage-content">
  <p>Discover tailored volunteer opportunities matching your skills effortlessly. Join a community committed to purposeful impact and positive change.</p>
</div>
</div>

<div class="home-btn">
<button>Get started</button>
</div>

<div>
<%= image_tag("hands.jpg", alt: "image of hands") %>
</div>

