/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
    //= require 'home'
    //= require 'create_opportunities'
    //= require 'search'
    //= require 'volunteer'
    
 */


 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    color: black;
    padding: 20px; 
    display: flex;
    height: 45px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 64em;
  top: 2.2em;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
}

.navbar a:hover {
  color: #48a1f9;
}

.sign-out {
  position: relative;
  background-color: #e6672c;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  bottom: 10px;
  width: 100px; 
  
}

.sign-out:hover {
  background-color: #ff5533;
}


.logo img{
    width: 6em;
    height: auto;
    position: absolute;
    bottom: 2px;
    top: 9px;
}

.logo-text {
    margin-left: 5em; 
    font-size: 22px; 
    font-weight: bold;
    position: absolute;
  }
  span{
    top: 1.5em;
  }

@media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;
    }
  
    .nav-container {
      position: static;
      margin-top: 10px;
      text-align: center;
    }
  
    .container a {
      margin: 5px;
    }
  
    .sign-out {
      position: static;
      margin-left: 100px;
    }
  
    .logo img {
      position: static;
      margin-bottom: 10px;
    }
  
    .logo-text {
      position: static;
      text-align: center;
      margin-left: 0;
    }
  
    span {
      top: 0;
    }
  }
  