.organazation-form{
  background-color: rgba(227, 222, 222, 0.432);
  width: 40em;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  

/* Add these styles to your CSS file */

.organization-form-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.organization-form-description {
  font-size: 15.3px;
  color: #666;
  margin-bottom: 30px;
}

  .form-group {
    margin-bottom: 10px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 8px;
    /* font-weight: bold; */
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-button {
    text-align: center;
  }
  
 
  
  