
.homepage-header {
    margin-top: 50px;
    color: rgb(235, 211, 33);
    
  }
  
  .homepage-header h1 {
    font-size: 4.1rem;
    font-weight: bold;
  
  }

  .homepage-content {
    margin-top: 20px;
    width: 25em;

  }
  
  .homepage-content p {
    text-indent: 0;
    font-size: 1.2em;
    line-height: 1.5;
    color: #2e16b5; 
  }

  .home-container {
    margin-left: 7em;
    margin-top: 10em;
  }
  .home-btn button{
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 8em;
    margin-top: 2em;

  }



  div img {
    position: absolute;
    bottom: 12em;
    left: 46em;
    width: 40rem;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }

  div .logo img{
    position: absolute;
  }