
.homepage-header {
    margin-top: 50px;
    color: black;
    
  }

  .homepage-header h1 {
    font-size: 4.1rem;
    font-weight: bold;
  }

  .homepage-content {
    margin-top: 20px;
    width: 25em;

  }
  
  .homepage-content p {
    text-indent: 0;
    font-size: 1.2em;
    line-height: 1.5;
    color: black;
  }

  .home-container {
    background-color: white;
    margin-left: 7em;
    margin-top: 10em;
    width: 80em;
    height: auto;
  }
  .home-btn button{
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 8em;
    margin-top: 2em;

  }

  .people-animation img{
    position: absolute;
    bottom: 9em;
    left: 43em; 
    width: 710px;
    height: 500px;
  }

  .home-btn button {
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    padding: 12px 27px;
    border: 2px solid #e6672c; 
    border-radius:30px;
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .home-btn button:hover {
    background-color: #3498db; 
    color: #ffffff;
    border-color: transparent;
}

@media (max-width: 600px) {
  .home-container {
    margin: 5em auto;
    padding: 0.5em;
  }

  .people-animation img {
    bottom: 3em;
    top: 46em;
    width: 100%;
    height: auto; 
    left: 0; 
  }

  .home-btn button {
    position: absolute;
    top: 53em;
  }
}
